* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
header {
    padding: 1.5em;
    position: absolute;
    justify-content: flex-end;
    top: 0;
    right: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav a, nav img {
    margin-left: 1em;
    vertical-align: middle;
}
i, img {
    vertical-align: middle;
}
i {
    font-size: 1.3rem;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    opacity: 0.85;
    text-decoration: underline;
}

.menu {
    height: 20px;
}
main {
    width: 50%;
    margin: auto;
    text-align: center;
}
.logo {
    max-width: 50%;
}
.search {
    width: 100%;
    position: relative;
}
input {
    width: 100%;
    padding: 1em 4em;
    margin-top: 1em;
    outline: none;
    border-radius: 30px;
    border: 1px solid rgb(221, 220, 220);
}

input:hover {
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
}
.fa-search, .fa-microphone {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    color: gray;
}
.fa-search{
    left: 25px;
}
.fa-microphone{
    right: 25px;
}

.btn_container {
    margin: 1em;
}
.btn_container button {
    padding: 1em;
    margin: .5em;
    border: none;
    outline: none;
    user-select: none;
    text-transform: capitalize;
}
.btn_container button:hover {
    cursor: pointer;
    opacity: 0.85;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.languages {
    display: flex;
    justify-content: center;
}
.language-type a {
    margin: .6em;
    color: rgb(63, 16, 151);
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 238, 238);
}
.footer_top {
    padding: 1em;
}
.footer_bottom {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(167, 166, 166, 0.856);
}

.left a {
    margin-right: 1em;
}
.right a {
    margin-right: 1em;
}

